h1{
	color: orange;
	background: black;
	border-radius: 12px;
	margin: 0 auto;
}
body{
	background: gray;
}
.caixa{
	border: 0.5px solid lightblue;
	border-radius: 7px;
	background: orange;
	box-shadow: 1px 1px 20px hsl( 50, 80%, 50%);
}
.caixa:focus{
	border: none;
	color: lightcyan;
}